<section id="add">
	<form action="/" method="post">
		<textarea name="userid" placeholder="Your id&hellip;"></textarea>
		<textarea name="userpassword" placeholder="Your password&hellip;"></textarea>
		<input type="submit" value="Take Note!">
	</form>
</section>

